<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>security</string>
		<key>pluginAdapterName</key>
		<string>ALBBFullSecurityGuardPlugin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>security</string>
		<key>pluginAdapterName</key>
		<string>ALBBMiniSecurityPlugin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ut</string>
		<key>pluginAdapterName</key>
		<string>TaeUTPluginAdapter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>hotpatch</string>
		<key>pluginAdapterName</key>
		<string>ALBBHotpatchPlugin</string>
		<key>version</key>
		<string>1.6.0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>session</string>
		<key>pluginAdapterName</key>
		<string>ALBBCoreSessionPlugin</string>
		<key>version</key>
		<string>1.6.0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>init</string>
		<key>pluginAdapterName</key>
		<string>ALBBInitServicePlugin</string>
		<key>version</key>
		<string>1.6.0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>rpc</string>
		<key>pluginAdapterName</key>
		<string>ALBBRpcPlugin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>login</string>
		<key>pluginAdapterName</key>
		<string>ALBBLoginSDKPluginAdapter</string>
		<key>version</key>
		<string>1.6.0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>trade</string>
		<key>pluginAdapterName</key>
		<string>ALBBTradeSDKPluginAdapter</string>
		<key>version</key>
		<string>1.6.0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>globaltrade</string>
		<key>pluginAdapterName</key>
		<string>ALBBGlobalTradeSDKPluginAdapter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>media</string>
		<key>pluginAdapterName</key>
		<string>ALBBMediaServicePluginAdapter</string>
		<key>version</key>
		<string>3.1-SNAPSHOT</string>
	</dict>
	<dict>
		<key>name</key>
		<string>openim</string>
		<key>pluginAdapterName</key>
		<string>TaeWXSDKForFreePluginAdapter</string>
		<key>version</key>
		<string>1.3.1.2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>openaccount</string>
		<key>pluginAdapterName</key>
		<string>ALBBOpenAccountPluginAdapter</string>
		<key>version</key>
		<string>1.6.0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>openaccountui</string>
		<key>pluginAdapterName</key>
		<string>ALBBOpenAccountUIPluginAdapter</string>
		<key>version</key>
		<string>1.6.0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>opentrade</string>
		<key>pluginAdapterName</key>
		<string>ALBBOpenTradePluginAdapter</string>
		<key>version</key>
		<string>1.6.0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>aliyun-mas</string>
		<key>pluginAdapterName</key>
		<string>ALBBMASPluginAdapter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>aliyun-oss</string>
		<key>pluginAdapterName</key>
		<string>ALBBOSSPluginAdapter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>demo</string>
		<key>pluginAdapterName</key>
		<string>TaeDemoPluginAdapter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mmusdk</string>
		<key>dependOn</key>
		<string></string>
		<key>pluginAdapterName</key>
		<string>MMUSDKPluginAdapter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>push</string>
		<key>dependOn</key>
		<string></string>
		<key>pluginAdapterName</key>
		<string>ALBBPushPluginAdapter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Qupai</string>
		<key>pluginAdapterName</key>
		<string>ALBBQuPaiPluginPluginAdapter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tbapplink</string>
		<key>pluginAdapterName</key>
		<string>ALBBTBOpenPluginPluginAdapter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>taobaoOpenIM</string>
		<key>pluginAdapterName</key>
		<string>TaeWXSDKForTaobaoPluginAdapter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>openaccountsso</string>
		<key>pluginAdapterName</key>
		<string>ALBBOpenAccountSSOPluginAdapter</string>
	</dict>
</array>
</plist>
